.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

.grid-item {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
